Repository Zaokret/channel-state, changes with the labels that .github/labeler.yml gives for each.
All labels: core, react, svelte, vue, examples, documentation, test, root, github

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: ['packages/core/**/*']
react:
  - changed-files:
      - any-glob-to-any-file: ['packages/react/**/*']
svelte:
  - changed-files:
      - any-glob-to-any-file: ['packages/svelte/**/*']
vue:
  - changed-files:
      - any-glob-to-any-file: ['packages/vue/**/*']
examples:
  - changed-files:
      - any-glob-to-any-file: ['examples/**/*']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']
test:
  - changed-files:
      - any-glob-to-any-file:
          [
            '**/*.test.ts',
            '**/*.test.tsx',
            'vitest.config.ts',
            'vitest.setup.ts',
          ]
root:
  - changed-files:
      - any-glob-to-any-file: ['.*', '*']
github:
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*']

fix: single quote within package scripts
  package.json
Labels: root

feat(package): watch tsup in packages in dev mode
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Labels: core, react, svelte, vue

feat(core): create json patch operations with rfc6902 package and emit them for non-primitive states
  packages/core/README.md
  packages/core/package.json
  packages/core/src/ChannelState.ts
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Labels: core, react, svelte, vue, documentation, root

fix: applyPatch returns null for success or instance of error for failure
  packages/core/src/ChannelState.ts
Labels: core

feat(core): add configurable debounce delay for updates to the swarm but notify local subscribers immediately
  packages/core/src/ChannelState.test.ts
  packages/core/src/ChannelState.ts
Labels: core, test
